<% provide(:title, @user.name) %> 
<div class="row"> 
	<aside class="span4"> 
		<section> 
			<li>
				<%= gravatar_for @user  %> 
				<h1><%= @user.name %></h1>
				<%= @user.email %>
			</li>
		</section>
	</aside>
	<div class="span8"> 
		<% if @user.microposts.any? %> 
		<h3>Total <%= pluralize(@user.microposts.count, "Micropost") %></h3> 
		<ol class="microposts"> 
			<%= render @microposts %> 
		</ol> 
		<%= will_paginate @microposts %> 
	    <% end %>
	</div> 
</div>

